<div class="jumbotron">
  <p class="lead">
    <img src="images/vnf-asterisk-logo.png" alt="vnf-asterisk"><br>
  </p>
  <h3>It's a VNF with Asterisk!</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/discovery">Discovered Instances <i class="fa fa-phone" aria-hidden="true"></i></span></a></p>
</div>

<div class="row marketing">
  <h4>About</h4>
  <p>
    <a href="https://github.com/redhat-nfvpe/vnf-asterisk">vnf-asterisk</a> is a reference virtual network function (VNF) used to explore both telephony in Network Function Virtualization (NFV) and also explore the wider world of containers for NFV.
  </p>
</div>
